<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>МАСТЕРСТРОЙ - Объём заказов за текущий месяц</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/table.css">
</head>

<body>
<h2>Объём заказов за текущий месяц</h2>
<a th:href="@{/order}" class="redirect-button">Вернуться к заказам</a>
<table class="main-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Наименование товара</th>
        <th>Объем заказов</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${volume}">
        <td th:text="${item[0]}"></td>
        <td th:text="${item[1]}"></td>
        <td th:text="${item[2]}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>