<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>МАСТЕРСТРОЙ</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/table.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<style>
    .flatpickr-calendar {
        background-color: #1F2421;
        color: var(--accent-bg);
        font-weight: bold;
        box-shadow: 0 0 30px rgba(0, 255, 204, 0.3);
    }

    .flatpickr-calendar *,
    .flatpickr-calendar .flatpickr-monthDropdown-months,
    .flatpickr-calendar .flatpickr-weekdays,
    .flatpickr-calendar .flatpickr-inner,
    .flatpickr-calendar .flatpickr-month {
        color: var(--accent-bg);
        font-weight: bold;
    }

    .flatpickr-day,
    .flatpickr-monthDropdown-month,
    .flatpickr-monthDropdown-year {
        color: var(--accent-bg);
        font-weight: bold;
    }
</style>
<body>
<div id="container">
    <div id="menu">
        <ul>
            <li><a href="/good">Товары</a></li>
            <li><a href="/good_request">Заявки на товары</a></li>
            <li><a href="/invoice">Накладные</a></li>
            <li><a href="/order_assembly">ПУНКТЫ ВЫДАЧИ</a></li>
            <li><a href="/order">Заказы</a></li>
            <li><a href="/order_detail">Детали заказов</a></li>
            <li><a href="/shipment">Партии</a></li>
            <li><a href="/store">Магазины</a></li>
            <li><a href="/warehouse">Склады</a></li>
            <li><a href="/warehouse_supplies">Поставки склада</a></li>
        </ul>
    </div>
    <div id="content">
        <h1>МастерСтрой</h1>
        <div class="header">
            <h2>Поставки склада</h2>
            <div>
                <button class="add-button" onclick="openForm()">Добавить новые поставки</button>
            </div>
        </div>
        <table class="main-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Наименование магазина</th>
                <th>Адрес магазина</th>
                <th>Наименование склада</th>
                <th>Адрес склада</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="warehouseSupplies : ${warehouseSuppliess}">
                <td th:text="${warehouseSupplies.getId()}"></td>
                <td th:text="${warehouseSupplies.store.getName()}"></td>
                <td th:text="${warehouseSupplies.store.getAddress()}"></td>
                <td th:text="${warehouseSupplies.warehouse.getName()}"></td>
                <td th:text="${warehouseSupplies.warehouse.getAddress()}"></td>
                <td>
                    <a th:href="@{/warehouse_supplies/edit/{id}(id=${warehouseSupplies.getId()})}" onclick="openEditForm('${zakaz.id}', '${zakaz.invoice.id}', '${zakaz.orderDate}', '${zakaz.status}','${zakaz.price}')"><span>&#9999;</span></a>
                    <form th:action="@{/warehouse_supplies/delete/{id}(id=${warehouseSupplies.getId()})}" method="POST">
                        <button type="submit"><span>&#10060;</span></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <h2>Добавить новые поставки</h2>
        <form th:action="@{/warehouse_supplies/create}" method="POST">
            <table>
                <tr>
                    <td>Наименование магазниа:</td>
                    <td>
                        <select name="goodName" id="name2">
                            <option th:each="store : ${stores}"
                                    th:value="${store.name}"
                                    th:text="${store.name}"
                                    th:selected="${warehouseSupplies != null && warehouseSupplies.order != null && store.name == warehouseSupplies.store.getName()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Наименование склада:</td>
                    <td>
                        <select name="goodName" id="name1">
                            <option th:each="warehouse : ${warehouses}"
                                    th:value="${warehouse.name}"
                                    th:text="${warehouse.name}"
                                    th:selected="${warehouseSupplies != null && warehouseSupplies.good != null && good.name == warehouseSupplies.good.getName()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Оформить</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<img id="background-image" src="https://freepngimg.com/thumb/mario/114725-mario-boo-super-bros-king.png" alt="Mario Boo Background Image">

<script>
    function openForm() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myModal").style.display = "none";
    }

</script>
</body>
</html>
